<div class="row">
  <div class="col-xs-12">
    <form (ngSubmit)="onSubmit()" [formGroup]="form">
      <div class="row">
        <div class="col-xs-12">
          <button class="btn btn-success" type="submit">Save</button>
          <button class="btn btn-danger" type="button">Cancel</button>
        </div>
      </div>
      <hr>
      <div class="row">
        <div class="col-xs-12">
          <div class="form-group">
            <label for="name">Name</label>
            <input
              class="form-control"
              formControlName="name"
              id="name"
              type="text">
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-xs-12">
          <div class="form-group">
            <label for="imagePath">Image URL</label>
            <input
              class="form-control"
              formControlName="imagePath"
              id="imagePath"
              type="text">
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-xs-12">
          <img [alt]="" [src]="" class="img-responsive">
        </div>
      </div>
      <div class="row">
        <div class="col-xs-12">
          <div class="form-group">
            <label for="description">Description</label>
            <textarea
              class="form-control"
              formControlName="description"
              id="description"
              rows="6"></textarea>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-xs-12" formArrayName="ingredients">
          <label for="ingredients">Ingredients</label>
          <div id="ingredients">
            <div
              class="row"
              *ngFor="let ingredientFormGroup of getIngredientFormGroups(); let i = index"
              [formGroupName]="i">
              <div class="col-xs-5">
                <input
                  class="form-control"
                  type="text"
                  formControlName="name">
              </div>
              <div class="col-xs-2">
                <input
                  class="form-control"
                  type="number"
                  formControlName="amount">
              </div>
              <div class="col-xs-1">
                <button class="btn btn-danger">X</button>
              </div>
            </div>
            <div class="row">
              <div class="col-xs-12">
                <button
                  class="btn btn-success"
                  type="button"
                  (click)="onAddIngredient()">Add Ingredient</button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </form>
  </div>
</div>
